<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545638597216-nquo8di3ngn1rvgihdnlp5jpblie1ja5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545638597216-nquo8di3ngn1rvgihdnlp5jpblie1ja5</string>
	<key>API_KEY</key>
	<string>AIzaSyBMdbQdajLNhJw48i0-RE1HrN9RVW28jMo</string>
	<key>GCM_SENDER_ID</key>
	<string>545638597216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boostifly.fcm.flutterNotification</string>
	<key>PROJECT_ID</key>
	<string>notification-f1417</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-f1417.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545638597216:ios:6e1bc78dc630cba7fef905</string>
</dict>
</plist>